
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body, html{
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url("logbg.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #1E90FF;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  main {
    padding: 1rem 0;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  
  form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #1E90FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4169E1;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .hackathon-thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .hackathon-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hackathon-details {
    flex: 1;
  }
  
  @media (max-width: 768px) {
    li {
      flex-direction: column;
    }
  
    .hackathon-thumbnail {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  